//Customized Bootstrap
$position-values: (
    0: 0,
    1: 1%,
    2: 2%,
    3: 3%,
    4: 4%,
    5: 5%,
    10: 10%,
    20: 20%,
    25: 25%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    70: 70%,
    75: 75%,
    80: 80%,
    90: 90%,
    100: 100%,
    110: 110%,
    120: 120%,
    130: 130%,
    140: 140%,
    150: 150%
);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 6,
    8: $spacer * 8,
    9: $spacer * 10,
    10: $spacer * 15
);

//Defaults
$body-bg: #cccccc;
$body-color: white;
$font-family-sans-serif: "Poppins", sans-serif;

//Required
@import "../node_modules/bootstrap/scss/bootstrap.scss";

//Classes utilizing bootstrap
.dashboardTotal {
    @extend .border;
    @extend .border-3; 
    @extend .rounded;
    @extend .text-center;
    @extend .text-dark;
    @extend .fw-bolder; 
    @extend .mx-3; 
    @extend .mt-3; 
    @extend .fs-1;
}

//Internal
@import "src/index";
@import "src/styles/navbar";

//External

//Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

